<%= form_with model: @img do |f| %>
  <div>
    <div class="field">
      <%= f.text_field :title, placeholder: "title" %>
    </div>

    <div>
      <%= f.label :img %>
      <%= f.file_field :img, multiple: true %> 
    </div>

    <div class="login-button">
      <%= f.submit "Upload" %>
    </div>
  </div>
<% end %>