<%= form_with model: @property do |f| %>
  <div class="d-flex flex-column justify-content-start align-items-start">
    <div class="my-2 w-100 d-flex flex-row justify-content-between">
      <%= f.label 'Título' %>
      <%= f.text_field :title %>
    </div>

    <div class="my-2 w-100 d-flex flex-row justify-content-between">
      <%= f.label 'Se arrienda?' %>
      <%= f.check_box :rent %>
    </div>

    <div class="my-2 w-100 d-flex flex-row justify-content-between">
      <%= f.label 'Precio' %>
      <%= f.number_field :price, step: "any", placeholder: "price" %>
    </div>

    <div class="my-2 w-100 d-flex flex-row justify-content-between">
      <%= f.label 'Está el precio en dólares?' %>
      <%= f.check_box :dollars %>
    </div>

    <div class="my-2 w-100 d-flex flex-row justify-content-between">
      <%= f.label 'Comuna' %>
      <%= f.collection_select :commune_id, Commune.order(:name), :id, :name, placeholder: "Commune" %>
    </div>

    <div class="my-2 w-100 d-flex flex-row justify-content-between">
      <%= f.label 'Dirección' %>
      <%= f.text_field :address%>
    </div>

    <div class="my-2 w-100 d-flex flex-row justify-content-between">
      <%= f.label 'Área (m2)'  %>
      <%= f.number_field :area, placeholder: "Area" %>
    </div>

    <div class="my-2 w-100 d-flex flex-row justify-content-between">
      <%= f.label 'Nro de habitaciones' %>
      <%= f.number_field :rooms, placeholder: "Rooms" %>
    </div>

    <div class="my-2 w-100 d-flex flex-row justify-content-between">
      <%= f.label 'Nro de baños' %>
      <%= f.number_field :bathrooms, placeholder: "Bathrooms" %>
    </div>

    <div class="my-2 w-100 d-flex flex-row justify-content-between">
      <%= f.label 'Descripción' %>
      <%= f.text_area :description%>
    </div>

    <div class="my-2 w-100 d-flex flex-column">
      <%= f.label :pictures %>
      <%= f.file_field :pictures, multiple: true %> 
    </div>

    <div class="login-button my-2">
      <%= f.submit "Publicar", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>