<div>
  <%= link_to image_tag(property.thumbnail), property.pictures.first if property.thumbnail %>
  <h2>Title: <%= property.title %></h2>
  <p>
    <%= property.rent ? "Se arrienda" : "Se vende" %>
  </p>
  <p><%= property.dollars ? "USD" : "CLP" %> <%= property.price %></p>
  <p>
    Comuna: <%= Commune.find(property.commune_id).name %>
  </p>
  <h2>Dueño de la propiedad: <%= property.user.first_name %> <%= property.user.last_name %></h2>
  <p>
    <%= link_to 'Ver', property_path(property), data: { turbo_frame: "_top" } %>
    <%= link_to 'Editar', edit_property_path(property), data: { turbo_frame: "_top" } %>
    <%= link_to 'Eliminar', property, method: :delete, data: { turbo_frame: "_top" } %>
  </p>
  
</div>
