<%= form_with model: @property do |f| %>
  <div class="d-flex flex-column flex-md-row justify-content-start align-items-start">
    <div class="d-flex flex-column me-5">
      <div class="my-2 w-100 d-flex flex-row justify-content-between">
        <%= f.label 'Título' %>
        <%= f.text_field :title %>
      </div>

      <div class="my-2 w-100 d-flex flex-row justify-content-between">
        <%= f.label 'Se arrienda?' %>
        <%= f.check_box :rent %>
      </div>

      <div class="my-2 w-100 d-flex flex-row justify-content-between">
        <%= f.label 'Precio' %>
        <%= f.number_field :price, step: "any", placeholder: "price" %>
      </div>

      <div class="my-2 w-100 d-flex flex-row justify-content-between">
        <%= f.label 'Está el precio en dólares?' %>
        <%= f.check_box :dollars %>
      </div>

      <div class="my-2 w-100 d-flex flex-row justify-content-between">
        <%= f.label 'Comuna' %>
        <%= f.collection_select :commune_id, Commune.order(:name), :id, :name, placeholder: "Commune" %>
      </div>

      <div class="my-2 w-100 d-flex flex-row justify-content-between">
        <%= f.label 'Dirección' %>
        <%= f.text_field :address%>
      </div>

      <div class="my-2 w-100 d-flex flex-row justify-content-between">
        <%= f.label 'Área (m2)'  %>
        <%= f.number_field :area, placeholder: "Area" %>
      </div>

      <div class="my-2 w-100 d-flex flex-row justify-content-between">
        <%= f.label 'Nro de habitaciones' %>
        <%= f.number_field :rooms, placeholder: "Rooms" %>
      </div>

      <div class="my-2 w-100 d-flex flex-row justify-content-between">
        <%= f.label 'Nro de baños' %>
        <%= f.number_field :bathrooms, placeholder: "Bathrooms" %>
      </div>

      <div class="my-2 w-100 d-flex flex-row justify-content-between">
        <%= f.label 'Descripción' %>
        <%= f.text_area :description%>
      </div>
      <div class="my-2 w-100 d-flex flex-column">
        <%= f.label 'Subir Fotos' %>
        <% @property.pictures.each do |picture| %>
          <%= f.hidden_field :pictures, multiple: true, value: picture.signed_id %>
        <% end %>
        <%= f.file_field :pictures, multiple: true, class: "my-2" %> 
      </div>
      <div class="login-button my-2">
        <%= f.submit "Guardar cambios", class: "btn btn-primary" %>
      </div>
    </div>
    <div>
      <p>Fotos:</p>
      <br />
      <div class="d-flex flex-wrap justify-content-start gap-2">
        <% property.pictures.each do |picture| %>
          <div>
            <%= link_to image_tag(property.make_thumbnail(picture)), picture %>
          </div>
        <% end %>
      </div>
      <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal<%= property.id %>">
        Editar Fotos
      </button>
      <div class="modal fade" id="exampleModal<%= property.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Borrar fotos</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <% property.pictures.each do |picture| %>
                <div>
                  <%= link_to image_tag(property.make_thumbnail(picture)), picture %>
                  <%= link_to "borrar foto", purge_attachment_path(picture) %>
                </div>
              <% end %>
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>