<h1>Propiedades</h1>
<%= form_with url: properties_path, method: :get, data: { turbo_frame: "properties", turbo_action: "advance" } do %>
  <%= text_field_tag "filter", nil, placeholder: "filter" %>
<% end %>

<%= turbo_frame_tag "properties" do %>
  <%= render partial: 'property', collection: @properties %>
  <%== pagy_nav(@pagy, link_extra: 'data_turbo_action="advance"') %>
<% end %>

<%= link_to 'Nueva Propiedad', new_property_path %>