<h1>Propiedades</h1>
<% @properties.each do |property| %>
  <div>
    <h1>Title: <%= property.title %></h1>
    <p>Para renta? <%= property.rent %></p>
    <p>Precio<%= property.price %></p>
    <p>En dolares?<%= property.dollars %></p>
    <p>Comuna: <%= property.commune_id %></p>
    <p>Direccion: <%= property.address %></p>
    <p>Metros cuadrados: <%= property.area %></p>
    <p>Habitaciones: <%= property.rooms%></p>
    <p>Banos: <%= property.bathrooms %></p>
    <p>Descripcion: <%= property.description %></p>
    <p><%= link_to 'Ver', property_path(property) %></p>
    <!-- Agrega más celdas según las propiedades que tengas -->
    <td>
      <%= link_to 'Ver', property %>
      <%= link_to 'Editar', edit_property_path(property) %>
      <%= link_to 'Eliminar', property, method: :delete, data: { confirm: '¿Estás seguro?' } %>
    </td>
  </div>
<% end %>
<%= link_to 'Nueva Propiedad', new_property_path %>