<div class="container">
  <h1>Propiedades</h1>
  <%= form_with url: properties_path, method: :get, data: { turbo_frame: "properties", turbo_action: "advance" } do %>
    <%= text_field_tag "filter_title", nil, placeholder: "Nombre" %>
    <%= number_field_tag "filter_bathrooms", nil, placeholder: "Mínimo Nro de Baños" %>

    <div>
      <%= label_tag "filter_commune", "Comuna:", class: "form-label" %>
      <%= select_tag "filter_commune", options_from_collection_for_select(Commune.order(:name), :id, :name, params[:filter_commune]), include_blank: "Cualquier comuna", class: "form-select" %>
    </div>

    <div>
      <label>
        <%= radio_button_tag "filter_rent", "any", true, class: "form-check-input" %>
        <label class="form-label">Compra/Arriendo</label>
      </label>
      <label>
        <%= radio_button_tag "filter_rent", "true", class: "form-check-input" %>
        <label class="form-label">Compra</label>
      </label>
      <label>
        <%= radio_button_tag "filter_rent", "false", class: "form-check-input" %>
        <label class="form-label">Arriendo</label>
      </label>
    </div>

    <%= submit_tag "Aplicar filtros" %>
  <% end %>
  
  <div>
    <%= turbo_frame_tag "properties", class: "d-flex flex-wrap justify-content-start gap-2 w-100" do %>
      <%= render partial: 'property', collection: @properties %>
    <% end %>
    <%== pagy_nav(@pagy, link_extra: 'data_turbo_action="advance"') %>
  </div>

  <%= link_to 'Nueva Propiedad', new_property_path, class: "btn btn-primary my-2" %>
</div>
