<div>
  <%= link_to image_tag(@property.thumbnail), @property.pictures.first if @property.thumbnail %>
  <h2>Title: <%= @property.title %></h2>
  <p>
    <%= @property.rent ? "Se arrienda" : "Se vende" %>
  </p>
  <p><%= @property.dollars ? "USD" : "CLP" %> <%= @property.price %></p>
  <p>
    Comuna: <%= Commune.find(@property.commune_id).name %>
  </p>
  <p>Dirección: <%= @property.address %></p>
  <p>Número de habitaciones: <%= @property.rooms %></p>
  <p>Número de baños: <%= @property.bathrooms %></p>
  <p>Descripción: <%= @property.description %></p>
  <div>
    <p>Current pictures:</p>
    <br />
    <% @property.pictures.each do |picture| %>
    <div>
        <%= link_to image_tag(@property.make_thumbnail(picture)), picture %>
    </div>
    <% end %>
  </div>
  <p>
    <%= link_to 'Editar', edit_property_path(@property), data: { turbo_frame: "_top" } %>
    <%= link_to 'Eliminar', @property, method: :delete, data: { turbo_frame: "_top" } %>
  </p>
</div>