<div class="container">
  <%= controller_name %> <%= action_name %>
  <% if user_signed_in? %>
    <h1> logged as <%= current_user.first_name %> <%= current_user.last_name %> </h1>
  <% end %>
  <br />
  <%= link_to 'Home', properties_path %>
  <% if user_signed_in? %>
    <%= link_to 'Perfil', user_profile_path(current_user) %>
    <%= link_to 'Logout', custom_destroy_user_session_path %>
  <% else %>
    <%= link_to 'Login', new_user_session_path %>
  <% end %>
  <p>(nota1: Link para editar y eliminar para comprobar autorización)</p>
</div>