<h1>Your Profile</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Se vende/Se arrienda</th>
      <th>Precio guardado en USD/CLP</th>
      <th>CLP</th>
      <th>USD</th>
      <th>Comuna</th>
      <th>Dirección</th>
      <th>Nro. de baños</th>
      <th>Nro. de habitaciones</th>
      <th>Descripción</th>
      <th>Ver</th>
      <th>Editar</th>
      <th>Borrar</th>
    </tr>
  </thead>
  <tbody>
    <% @user_properties.each do |property| %>
      <tr>
        <td><%= property.title %></td>
        <td><%= property.rent ? "Se arrienda" : "Se vende" %></td>
        <td><%= property.dollars ? "USD" : "CLP" %></td>
        <td><%= property.dollars ? property.price : "CLP" %></td>
        <td><%= property.dollars ? "USD" : property.price %></td>
        <td><%= Commune.find(property.commune_id).name %></td>
        <td><%= property.address %></td>
        <td><%= property.rooms %></td>
        <td><%= property.bathrooms %></td>
        <td><%= property.description %></td>
        <td>Ver</td>
        <td>Editar</td>
        <td>Borrar</td>
      </tr>
    <% end %>
  </tbody>
</table>
