<div class="container w-100">
  <div class="justify-content-start w-100">
    <div class="">
      <h1 class="text-center mb-4">Propiedades</h1>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Title</th>
              <th>Se vende/Se arrienda</th>
              <th>Precio guardado en USD/CLP</th>
              <th>CLP</th>
              <th>USD</th>
              <th>Comuna</th>
              <th>Dirección</th>
              <th>Nro. de baños</th>
              <th>Nro. de habitaciones</th>
              <th>Descripción</th>
              <th>Ver</th>
              <th>Editar</th>
              <th>Borrar</th>
            </tr>
          </thead>
          <tbody>
            <% @user_properties.each do |property| %>
              <tr>
                <td><%= property.title %></td>
                <td><%= property.rent ? "Se arrienda" : "Se vende" %></td>
                <td><%= property.dollars ? "USD" : "CLP" %></td>
                <td><%= number_with_delimiter(sprintf('%.0f', property.dollars ?  @dolar * property.price : property.price), delimiter: ',') %></td>
                <td><%= sprintf('%.2f', property.dollars ? property.price : property.price / @dolar) %></td>
                <td><%= Commune.find(property.commune_id).name %></td>
                <td><%= property.address %></td>
                <td><%= property.rooms %></td>
                <td><%= property.bathrooms %></td>
                <td>
                  <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal<%= property.id %>">
                    Descripción
                  </button>
                  <div class="modal fade" id="exampleModal<%= property.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Descripción</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <%= property.description %>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td><%= link_to 'Ver', property_path(property), data: { turbo_frame: "_top" }, class: "btn btn-info btn-sm" %></td>
                <td><%= button_to 'Editar', edit_property_path(property), data: { turbo_frame: "_top" }, method: :get, class: "btn btn-warning btn-sm" %></td>
                <td><%= button_to 'Eliminar', property_path(property), data: { turbo_frame: "_top" }, method: :delete, class: "btn btn-danger btn-sm" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      
    </div>
    <%= link_to 'Nueva Propiedad', new_property_path, class: "btn btn-primary my-2" %>
  </div>
</div>
